<h2 class="fs-4 p-3 border border-1 container mt-5 p-2 bio">Forgot your password?</h2>

<div class="fs-4 p-3 border border-1 container mt-5 p-2 bio">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control mb-4" %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", data: {disable_with: "Setting..."}, class: "btn btn-primary my-3" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
