<nav class="fs-6 p-3 container mt-2 p-2 bio">
  <%= link_to "Home", root_path %>
</nav>
<div>
  <div>
    <div class="border border-3 border-dark container p-2 my-5 bio">
      <div class="d-flex justify-content-between my-3">
        <h4><%= @post.title %> by <%= @user.name %></h4>
        <p>Comments : <%= @post.comments.size%>  Likes : <%= @post.likes.size %> </p>
      </div>
        <p><%= @post.text %> </p>
    </div>
    <ul class="border border-3 border-dark container p-2 my-5 bio">
      <% @post.comments.each do |c| %>
        <li><%= c.author.name %>: <%= c.text%></li>
      <% end %>
    </ul>
    <%= render "comments/comment_form" %>
  </div>
</div>
