<nav class="fs-6 p-3 container mt-2 p-2 bio">
  <%= link_to "Home", root_path %>
</nav>
<div>
  <div>
    <div class="border border-3 border-dark container p-2 my-5 bio">
      <div class="d-flex justify-content-between my-3">
        <h4><%= @post.title %> by <%= @user.name %></h4>
        <p>Comments : <%= @post.comments.size%> Likes : <%= @post.likes.size %> </p>
        
      </div>
      <p><%= @post.text %> </p>
      <% if can? :destroy, @post %>
      <%= link_to "Delete", user_post_path(@user.id, @post.id), method: :delete, data: {disable_with: "Deleting..."}, class: "btn btn-danger mb-3"%>
      <% end %>
    </div>
    
    <%= render "layouts/coomcard" %>
    <%= render "comments/comment_form" %>
  </div>
</div>